@charset "UTF-8";

div.conteiner {
    background-color: lightsalmon;
    display: flex;
    flex-flow: row nowrap;
    align-items: start;
    justify-content: space-around;
}

div.item {
    background-color: lightblue;
    border: 1px solid black;
    text-align: center;
    
}

