@charset "UTF-8";

body {
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    height: 98.8vh;
    background-image: url(imagens/espaco.jpg);
}

img {
    position: absolute;
    background-size: 100% 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}