@charset "UTF-8";

div.conteiner {
    background-color: lightsalmon;
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
}
div.item {
    background-color: lightblue;
    border: 1px solid black;
    text-align: center;
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 2;
    padding: 5px;
    margin: 10px;
}
div.item.grow {
    flex-grow: 1;
    flex-shrink: 0;
}
div.item.larger {
    flex-grow: 2;
    flex-shrink: 1;
}

