@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
}

input {
    font-family: monospace;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #000;
}

fieldset {
    max-width: max-content;
}
