@charset "UTF-8";

body {
    height: 100vh;
    /*
    background-color: black;
    background-image: url(imagens/wallpaper002.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    */
    /* shorthand background
        color > image > position > repeat > [size] > attachment
    */
    background: black url(imagens/wallpaper002.jpg) center no-repeat fixed;
    background-size: cover; /* na pratica cover não tava funcionando na shorthand */
}

main {
    background-color: white;
    max-width: 700px;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 15px;
}