@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


body {
    font-size: 2em;

}

header {
    font-family: 'Passion One';

}

p {
    white-space: pre-line;
    font-family: 'Sriracha';
}

footer {
    font-family: 'Passion One';
}
