@charset "UTF-8";

div.conteiner {
    background-color: lightsalmon;
    display: flex;
    flex-flow: row nowrap;
    padding: 10px;
}
div.item {
    background-color: lightblue;
    border: 1px solid black;
    text-align: center;
    padding: 5px;
    margin: 10px;
}
div.item.small {
    flex: 0 2 150px;
}
div.item.grow {
    flex: 1 1 200px;
}
div.item.larger {
    flex: 2 0 250px;
}

