@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: grid;
    grid-template: repeat(3, auto) / repeat(3, auto);
    grid-auto-rows: 100px;
    grid-auto-columns: auto;
    place-items: stretch stretch;
    place-content: stretch stretch;
    gap: 10px;
    padding: 10px;
    border: 3px solid black;
    height: 100vh;
    width: 100vw;
    margin: auto;
}

.item {
    background-color: lightblue;
    border: 2px solid red;
}