@charset "UTF-8";



.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 10px;
    padding: 10px;
    border: 3px solid black;
    height: 95vh;
    width: 95vw;
    margin: auto;
}

.item {
    background-color: lightblue;
    border: 2px solid red;
}