@charset "UTF-8";



.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    align-items: stretch;
    justify-items: space-around;
    align-content: space-around;
    justify-content: stretch;
    padding: 10px;
    border: 3px solid black;
    height: 95vh;
    width: 95vw;
    margin: auto;
}

.item {
    background-color: lightblue;
    border: 2px solid red;
}