@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    align-items: normal;
    justify-items: normal;
    align-content: normal;
    justify-content: normal;
    padding: 10px;
    border: 3px solid black;
    height: 95vh;
    width: 95vw;
    margin: auto;
}

.item {
    background-color: lightblue;
    border: 2px solid red;
}