@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #022840, #025E73, #025E73, #037F8C);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #010f1898;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #025373;
    text-align: center;
    text-shadow: 1px 1px 2px #012b3b9d;

}

h2 {
    color: #037F8C;
}

p {
    text-align: justify;
    text-indent: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

