@charset "UTF-8";

/* Todas as demais mídias */
 /* Impressão */
@media print {
    body {
        background-image: url(../imagens/back-print.jpg); /* não imprime*/
    }
    
    main {
        border: 2px solid black;
        width: 90vw;

    }

    main::after {
        content: "Imprimindo...";
        text-decoration: overline;
    }

    main h1 {
        font-family: 'Courier New', Courier, monospace;
        text-shadow: none;
        color: black;
    }
    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: block;}
    img#pc { display: none;}
    img#tv { display: none;}


}

/* Tipical Devices Breakpoints*/

 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) { 
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone { display: none;}
    img#tablet { display: block;}
    img#print { display: none;}
    img#pc { display: none;}
    img#tv { display: none;}

 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) { 
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: none;}
    img#pc { display: block;}
    img#tv { display: none;}

 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: none;}
    img#pc { display: none;}
    img#tv { display: block;}

 } 